

.register_section {
    display: grid;
    grid-template-areas: "register_logo"
            "register_title"
            "register_card";
    justify-content: center;
    background-image: url("../images/back.png");
    height: 100vh;
}
.register_logo {
    grid-area: register_logo;
    display: grid;
    justify-self: center;
    margin: 1em;
}
.registerLogo {
    width: 300px;
    max-width: 100%;
}
.register_title {
    grid-area: register_title;
    justify-self: center;
    margin: 1em;
}
.register_card {
    grid-area: register_card;
    display: grid;
    padding: 1em;
}
.register_form {
    display: grid;
    flex-direction: column;
    padding-bottom: 1rem;
}
.register_btn {
    padding: 0.5em;
    margin: 1em;
    background-color: #00d29d;
    border-radius: 5px;

}
.register_input, textarea {
border-right-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    padding: 0.25rem;
}


label {
    margin-top: 1rem;
}


.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}